{% load url from future %}
<html>
<head>
</head>
<body>
<h1>Problems</h1>
<span>Last modified: {{ last_modified }}</span>
<div>
  <span>autoload: {{ autoload_status }}</span>
  <span>
    <form action="{% url 'problems:reload' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Reload Now" />
    </form>
  </span>
  <span>
    {% if autoload_status %}
    <form action="/problems/setreload/False/" method="post">
      {% csrf_token %}
      <input type="submit" value="Set autoload Off" />
    </form>
    {% else %}
    <form action="/problems/setreload/True/" method="post">
      {% csrf_token %}
      <input type="submit" value="Set autoload On" />
    </form>
    {% endif %}
  </span>
</div>
<h2>Filter</h2>
<form action="/problems/" method="get">
  <div>Select forms having operators:
    <input type="text" name="with" value="{{ with }}" /></div>
  <div>Select forms which don't have operators:
    <input type="text" name="without" value="{{ without }}" /></div>
  <div><input type="submit" value="filter" />
    <input type="reset" value="Clear" /></div>
</form>
<h2>Contents</h2>
<div class="toc">
<span><a href="#solving">{{ under_solve_problems|length }} Solving</a></span>
<span><a href="#untouched">{{ untouched_problems|length }} Untouched</a></span>
<span><a href="#solved">{{ solved_problems|length }} Solved</a></span>
<span><a href="#dead">{{ dead_problems|length }} Dead</a></span>
<span><a href="#training">{{ training_problems|length }} Training</a></span>
</div>
<h2 id="solving">{{ under_solve_problems|length }} Problems getting solved now</h2>
<table><tr><th>id</th><th>size</th><th>operators</th></tr>
{% for p in under_solve_problems %}
<tr>
  <td>{{ p.id }}</td>
  <td>{{ p.size }}</td>
  <td>{% for op in p.operators %}
      {{ op }},
      {% endfor %}
  </td>
</tr>
{% endfor %}
</table>

<h2 id="untouched">{{ untouched_problems|length }} Problems left untouched</h2>
<table><tr><th>id</th><th>size</th><th>operators</th></tr>
{% for p in untouched_problems %}
<tr>
  <td>{{ p.id }}</td>
  <td>{{ p.size }}</td>
  <td>{% for op in p.operators %}
      {{ op }},
      {% endfor %}
  </td>
</tr>
{% endfor %}
</table>

<h2 id="solved">{{ solved_problems|length }} Solved problems</h2>
<table><tr><th>id</th><th>size</th><th>operators</th></tr>
{% for p in solved_problems %}
<tr>
  <td>{{ p.id }}</td>
  <td>{{ p.size }}</td>
  <td>{% for op in p.operators %}
      {{ op }},
      {% endfor %}
  </td>
</tr>
{% endfor %}
</table>

<h2 id="dead">{{ dead_problems|length }} Dead problems</h2>
<table><tr><th>id</th><th>size</th><th>operators</th></tr>
{% for p in dead_problems %}
<tr>
  <td>{{ p.id }}</td>
  <td>{{ p.size }}</td>
  <td>{% for op in p.operators %}
      {{ op }},
      {% endfor %}
  </td>
</tr>
{% endfor %}
</table>

<h2 id="training">{{ training_problems|length }} Training problems</h2>
<table><tr><th>id</th><th>size</th><th>operators</th><th>challenge</th></tr>
{% for p in training_problems %}
<tr>
  <td>{{ p.id }}</td>
  <td>{{ p.size }}</td>
  <td>{% for op in p.operators %}
      {{ op }},
      {% endfor %}
  </td>
  <td>{{ p.challenge }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
